# Ignore all target folders
**/target/
**/debug/
**/release/
**/build/
**/.fingerprint/
**/.cargo/
**/.rustup/
**/.rustc/

# Ignore lockfiles and backup metadata
**/Cargo.lock
**/*.pdb
**/*.rlib
**/*.rmeta
**/incremental/

# Frontend garbage
**/node_modules/
**/.vite/

# Tree saves...
/fs_tree_db/save/
